<meta http-equiv="pragma" content="no-cache">
<center <%= "data-user-id=#{params[:id]}" if params.has_key?(:id) %>>
  <h2>Hello, <%= current_user.email %></h2>

<p>How would you like to view your plans?</p>

<p><%= link_to "Sort By Restaurant", user_restaurants_path(current_user), class: 'btn btn-primary', id: 'sort_restaurants' %>
  <%= link_to "Sort By Menu Item", user_foods_path(current_user), class: 'btn btn-primary', id: 'sort_foods' %></p>

<div class="sorted_restaurants">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Restaurant Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Cuisine</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
    </tbody>
  </table>
  <br>
  <%= link_to 'Add New Restaurant', new_user_restaurant_path(current_user), class: 'btn btn-primary' %>
</div>

<div class="sorted_foods">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Food Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
    </tbody>
  </table>
  <br>
  <%= link_to 'Add New Menu Item', new_user_food_path(current_user), class: 'btn btn-primary' %>
</div>

</center>
