<%= form_for([current_user, @food]) do |f| %>
<%= f.hidden_field :user_id, :value => current_user.id %>
  <% if food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
      <% food.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <font color="red">*</font><%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <hr>
  <h3>Add Restaurant To Try This At</h3>

  <%= f.fields_for :restaurants, @food.restaurants.build do |g| %>
  <%= g.hidden_field :user_id, :value => current_user.id %>
    <div class="field">
      <%= g.label :name %>
      <%= g.text_field :name %>
    </div>

    <div class="field">
      <%= g.label :address %>
      <%= g.text_field :address %>
    </div>

    <div class="field">
      <%= g.label :phone %>
      <%= g.text_field :phone %>
    </div>

    <div class="field">
      <%= g.label :cuisine %>
      <%= g.text_field :cuisine %>
    </div>
    <br>
    <%= g.fields_for :restaurant_foods, @food.restaurant_foods.build do |h| %>
      <div class="field">
        <%= h.label :price %>
        <%= h.number_field :price, :step => 0.01, :min => 0 %>
      </div>
    <% end %>
  <br>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
