<%= form_for([current_user, @restaurant], html: {id: :restaurantForm }) do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <% if restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <font color="red">*</font><%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :cuisine %>
    <%= f.text_field :cuisine %>
  </div>

  <div class="field">
    <%= f.label :borough %>
    <%= f.select :borough, ['', 'Brooklyn', 'The Bronx', 'Manhattan', 'Queens', 'Staten Island', 'Outside NYC'] %>
  </div>
  <hr>
  <h3>Add Menu Items to Try</h3>

  <% 3.times do %>
    <%= f.fields_for :foods, @restaurant.foods.build do |g| %>
      <%= g.hidden_field :user_id, :value => current_user.id %>
      <div class="field">
        <%= g.label :name %>
        <%= g.text_field :name %>
      </div>
      <%= g.fields_for :restaurant_foods, @restaurant.restaurant_foods.build do |h| %>
      <div class="field">
        <%= h.label :price %>
        <%= h.number_field :price, :step => 0.01, :min => 0 %>
      </div>
      <% end %>
    <br>
    <% end %>
  <% end %>

  <div>
    <%= f.submit %>
  </div>
<% end %>
