<body class="restShow">
<p>
  <h1 class="rName"><%= @restaurant.name %></h1>
</p>

<p>
  <strong>Address:</strong>
  <span class="rAddress"><%= @restaurant.address %></div>
</p>

<p>
  <strong>Phone:</strong>
  <span class="rPhone"><%= number_to_phone(@restaurant.phone) %></div>
</p>

<p>
  <strong>Cuisine:</strong>
  <span class="rCuisine"><%= @restaurant.cuisine %></div>
</p>

<p>
  <strong>Borough:</strong>
  <span class="rBorough"><%= @restaurant.borough %></div>
</p>

<%= link_to "View on Google Maps", "https://www.google.com/maps/search/#{@restaurant.address}" %>

<h3>Menu Items To Try</h3>

<% if @restaurant.foods.exists? %>
  <ul class="rFoods">
    <% @restaurant.foods.each do |food| %>
      <li><%= link_to food.name, user_food_path(current_user, food) %>
        <span id="rPrice"><%= number_to_currency(RestaurantFood.find_by(restaurant_id: @restaurant.id, food_id: food.id).price) %></span> | <%= link_to 'Delete', restaurant_food_path(RestaurantFood.find_by(restaurant_id: @restaurant.id, food_id: food.id).id), method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    <% end %>
  </ul>
<% else %>
    <p><i>Currently, you do not have any menu plans at <%= @restaurant.name %>.</i></p>
<% end %>

<p><%= link_to 'Edit', edit_user_restaurant_path(current_user, @restaurant), class: 'btn btn-default' %></p>
<p><%= link_to 'Your Index', user_path(current_user) %> | <a href="#" class="js-next" data-uid="<%=current_user.id %>" data-ridx="<%= users_restaurants.index(@restaurant.id) %>" data-urests="<%= users_restaurants %>">Next</a></p>
</body>
